@import url('../../index.css');

.table {
    box-shadow: 0 0 0 1px var(--gray);
    padding: 0px 10px;
    border-radius: 18px;
}

.table-element-bottom-border {
    border-bottom: 1px solid var(--gray);
}

.table-element-padding {
    padding-bottom: 10px;
    padding-top: 10px;
}

.flex-row.table-element-gap {
    gap: 10px;
}