:root {
  --primary: #fafafa;
  --secondary: #000000;
  --gray: #cdcdcd;
  --gray-lighter: #eeeeee;
  --green-lighter: #a7fab7;
  --green-light: #58db71;
  --green: #0ca552;
  --coral-lighter: #ffae96;
  --coral-light: #ff835f;
  --coral: #de4010;
}

.dark {
  --primary: #292929;
  --secondary: #ededed;
}

@font-face {
  font-family: "Unbounded";
  font-style: normal;
  font-weight: 400;
  src:
    local("Unbounded Regular"),
    url("./assets/Unbounded-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Unbounded";
  font-style: normal;
  font-weight: 300;
  src:
    local("Unbounded Light"),
    url("./assets/Unbounded-Light.ttf") format("truetype");
}

body {
  margin: 0;
  background-color: var(--primary);
  color: var(--secondary);
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

p {
  margin: 0;
  font-weight: 300;
}

a {
  margin: 0;
  text-decoration: none;
  outline: none;
  color: var(--secondary);
  font-weight: 300;
  transition: color 200ms ease-out;
}

h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 300;
  transition: font-size 300ms ease-out;
}

h2 {
  margin: 0;
  font-size: 36px;
  font-weight: 300;
  transition: font-size 300ms ease-out;
}

h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  transition: font-size 300ms ease-out;
}

.icon {
  width: 48px;
  height: 48px;
  transition: width 300ms ease-out, height 300ms ease-out;
}

.basic-block {
  padding: 48px;
  transition: padding 300ms ease-out;
}

.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 24px;
  height: 100vh;
}

@media screen and (max-width: 720px) {
  h1 {
    font-size: 2em;

  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.25em;
  }
  .icon {
    height: 2em;
    width: 2em;
  }

  .basic-block {
    padding: 24px 12px;

  }
}

a:hover {
  color: var(--green-light);
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-small {
  font-size: 12px;
}

/* Fonts */
.unbounded-400 {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Background colors */
.primary-bg {
  background-color: var(--primary);
}

.secondary-bg {
  background-color: var(--secondary);
}

.gray-bg {
  background-color: var(--gray);
}

.gray-lighter-bg {
  background-color: var(--gray-lighter);
}

.green-lighter-bg {
  background-color: var(--green-lighter);
}

.green-light-bg {
  background-color: var(--green-light);
}

.green-bg {
  background-color: var(--green);
}

.coral-lighter-bg {
  background-color: var(--coral-lighter);
}

.coral-light-bg {
  background-color: var(--coral-light);
}

.coral-bg {
  background-color: var(--coral);
}

/* Colors */
.primary {
  color: var(--primary);
}

.secondary {
  color: var(--secondary);
}

.gray {
  color: var(--gray);
}

.gray-lighter {
  color: var(--gray-lighter);
}

.green-lighter {
  color: var(--green-lighter);
}

.green-light {
  color: var(--green-light);
}

.green {
  color: var(--green);
}

.coral-lighter {
  color: var(--coral-lighter);
}

.coral-light {
  color: var(--coral-light);
}

.coral {
  color: var(--coral);
}

/* Box-shadow */
.primary-border {
  box-shadow: inset 0 0 0 1px var(--primary);
}

.secondary-border {
  box-shadow: inset 0 0 0 1px var(--secondary);
}

.gray-border {
  box-shadow: inset 0 0 0 1px var(--gray);
}

.green-lighter-border {
  box-shadow: inset 0 0 0 1px var(--green-lighter);
}

.green-light-border {
  box-shadow: inset 0 0 0 1px var(--green-light);
}

.green-border {
  box-shadow: inset 0 0 0 1px var(--green);
}

.coral-lighter-border {
  box-shadow: inset 0 0 0 1px var(--coral-lighter);
}

.coral-light-border {
  box-shadow: inset 0 0 0 1px var(--coral-light);
}

.coral-border {
  box-shadow: inset 0 0 0 1px var(--coral);
}

.bottom-border {
  border-bottom: 1px solid var(--green);
}

.cursor-pointer {
  cursor: pointer;
}
.cursor-grabbing {
  cursor: grabbing;
}
.cursor-not-allowed {
  cursor: not-allowed;
}
.cursor-default {
  cursor: default;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 10px;
}

.justify-left {
  justify-content: left;
}

.justify-end {
  justify-content: end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.rotate {
  animation: rotation 300ms normal ease-out forwards;
  cursor: grabbing;
}

.rotate:hover {
  animation: hover 100ms ease-out forwards;
}

.flex-row.gap {
  gap: 8px;
}

@keyframes rotation {
  0% {
    transform: rotateZ(0deg);
  }
  80% {
    transform: rotateZ(340deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes hover {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
